<nav class="navbar navbar-light bg-light navbar-expand-md">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url("home") }}">Training dashboard</a>
                </li>
            {% if current_user["authenticated"] %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url("deployments") }}">Deployments</a>
                </li>a
            {% endif %}
            </ul>
            {% if current_user["authenticated"] %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                        <img class="rounded-circle" src="{{ current_user['gravatar'] }}"</src> {{ current_user['username'] }}<span class="caret"></span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url("logout") }}">Logout</a>
                    </div>
                </li>
            </ul>
            {% endif %}
            <img src="{{ url('static', filename='images/logo-deep-solid-white.png') }}" height="30" class="d-inline-block align-top ml-auto" alt="">
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
